<p>This is a demo of a <a href="https://github.com/carsonmcdonald/Python-Flask-neo4j-Heroku-Example">Python + Flask + neo4j app running on Heroku</a> (for a lot more detail check out the <a href="https://github.com/carsonmcdonald/Python-Flask-neo4j-Heroku-Example/wiki/App-Details">wiki</a>). If you want help using the app check out the <a class="helplink" href="#">help page</a></p>

<p>I put this project together as an entry for the <a href="http://neo4j-challenge.herokuapp.com/">Heroku neo4j challenge</a> and it should be fairly easy to get a feel for how to integrate neo4j into an app of your own or use as a base for a new app.</p>

<p>The app is a simple data explorer with bookmarking ability to show off some of the features of neo4j. A subset of data from a <a href="http://blog.stackoverflow.com/2009/06/stack-overflow-creative-commons-data-dump/">Stack Exchange CC data dump</a>, specifically <a href="http://programmers.stackexchange.com/">Programers Stack Exchange</a>, is used to populate a sample database. The bookmarking feature allows for weights to be added for later use in recomendations.</p>

<p>For more details about the the app check out the <a href="https://github.com/carsonmcdonald/Python-Flask-neo4j-Heroku-Example/wiki/App-Details">wiki page</a>.</p>

<p>I&#39;m using the following stack on the server side:</p>

<ul>
<li>Python</li>
<li><a href="http://flask.pocoo.org">Flask</a> web microframework</li>
<li><a href="http://neo4j.org/">neo4j</a> graph database</li>
<li><a href="http://py2neo.org/">py2neo</a> neo4j python library</li>
</ul>

<p>I&#39;m using the following stack on the client side:</p>

<ul>
<li><a href="http://handlebarsjs.com/">handlebars.js</a> for templates</li>
<li><a href="http://jquery.com/">jquery</a></li>
<li><a href="http://www.asual.com/jquery/address/">jquery address</a> for history support</li>
<li><a href="http://documentcloud.github.com/underscore/">underscore.js</a></li>
<li><a href="https://github.com/twitter/bootstrap">Twitter bootstrap</a></li>
</ul>

<p>If you find this code helpful take a minute and rate it on <a href="http://gensen.herokuapp.com/show/25">Gensen</a>.</p>
