<div class="span1">&nbsp;</div>
<div class="alert alert-block alert-error fade in span8">
  <a class="close" data-dismiss="alert" href="#">×</a>
  <h4 class="alert-heading">{{title}}</h4>
  <p>{{message}}</p>
</div>
<div class="span1">&nbsp;</div>
