This is a demo app that uses Python, Flask and neo4j. To learn more about the app itself check out the <a class="aboutlink" href="#">about page</a> or the <a href="https://github.com/carsonmcdonald/Python-Flask-neo4j-Heroku-Example">Github project</a> where there is a lot more information. You can explore what the app can do by reading on.

<h2>Getting started</h2>

<p>You can always come back to this page by clicking the <a class="helplink" href="#">help link</a> at the top.</p>

<p>This app contains a subset of data from <a href="http://programmers.stackexchange.com/">programmers.stackexchange.com</a>. That subset contains the first 10,000 posts (question/answer), user and tag data. You can start by enter any of the following in the "Staring point" field above: </p>

<ul>
  <li>
    A URL <br/>
    <b>For users:</b> http://programmers.stackexchange.com/users/3708/benoit <br/>
    <b>A question:</b> http://programmers.stackexchange.com/questions/885/is-it-worth-it-for-programmers-to-go-to-graduate-school <br/>
    <b>An answer:</b> http://programmers.stackexchange.com/questions/9885/how-much-documentation-is-enough/9987#9987 <br/>
    <b>A tag:</b> http://programmers.stackexchange.com/questions/tagged/java
  </li>
  <li>
    A quick link <br/>
    <b>For users:</b> user:3708 <br/>
    <b>A question:</b> post:885 <br/>
    <b>An answer:</b> post:9987 <br/>
    <b>A tag:</b> tag:java
  </li>
</ul>

<h2>Features</h2>

<ul>
  <li><b>Bookmark</b> a post, user or answer by clicking the <i class="icon-bookmark icon-white"></i> icon in the upper right corner of any block. Once bookmarked the items will show with the <i class="icon-bookmark"></i> icon and clicking them again will un-bookmark them. You may also remove a bookmark by click the <i class="icon-remove-sign"></i> icon to the right of the red line in the bookmarks list.</li>
  <li>The <b>item trail</b> at the top of the results list allows you to navigate back to any point while you are drilling down into each item.</li>
  <li>Every item type has at least one <b>advanced query</b> that can be run. The advanced query will show at the bottom of the item box.</li>
  <li>The <b>recomendations</b> button above the bookmarks list will run a special advanced query to give you recomendations based on the weights given to each bookmark. You may change the weight of any bookmark by changing the weight number and then leaving the field.</li>
  <li>Clicking on a <b>link<b/> with the <img src="http://sstatic.net/programmers/img/favicon.ico"/> icon at the end will take you to the Programmers page for that item.</li>
</ul>
